<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>blacklist - lamb</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/css/blacklist.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img alt="Brand" src="/img/logo.png" width="32" height="32" style="margin-top:-6px" />
          </a>
          <a class="navbar-brand">lamb</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/status/inbound">状态监控</a></li>
            <li><a href="/company">企业管理</a></li>
            <li><a href="/account">帐号管理</a></li>
            <li><a href="/template">签名模板</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">路由管理</a>
              <ul class="dropdown-menu">
                 <li><a href="/routing">上行路由</a></li>
                <li><a href="/delivery">下发路由</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">通道管理</a>
              <ul class="dropdown-menu">
                <li><a href="/gateway">落地通道</a></li>
                <li><a href="/group">通道网关组</a></li>
                <li><a href="/gateway/report">通道统计报表</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">数据记录</a>
              <ul class="dropdown-menu">
                <li><a href="/message">上行短信</a></li>
                <li><a href="/message/deliver">下行短信</a></li>
                <li><a href="/message/report">状态报告</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">系统管理</a>
              <ul class="dropdown-menu">
                <li><a href="/security/database">黑白名单库</a></li>
                <li><a href="/security/keyword">关键词库</a></li>
                <li><a href="/payment/logs">充值记录</a></li>
                <li><a href="/payment">支付管理</a></li>
                <li><a href="/system/status">系统状态</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> 系统设置</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退 出</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Blacklist</a></li>
          <li class="active">Data</li>
          <li class="pull-right add"><a class="btn btn-success btn-xs" href="/server/create"><span class="glyphicon glyphicon-plus"></span> 添 加</a></li>
        </ol>
      </div>
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr><th>#</th><th>手机号码</th><th>号码类型</th><th>号码归属地</th><th>创建时间</th><th>删 除</th></tr>
          </thead>
          <tbody>
            <?php
              foreach ($blacklist as $l) {
              echo '<tr><td><span class="glyphicon glyphicon-phone"></span></td><td>',$l['phone'],'</td><td>黑名单</td><td>江苏省苏州市</td><td>1970-01-01 08:00:00</td>';
              echo '<td><button class="btn btn-default btn-xs" onclick="deletePhone(',$l['phone'],')"><span class="glyphicon glyphicon-edit"></span> 删 除</button></td></tr>',"\n";
              }
              ?>
          </tbody>
        </table>
      </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/layer.js"></script>
<script type="text/javascript">
  $('li.dropdown').mouseover(function() {   
    $(this).addClass('open');
  }).mouseout(function() {
    $(this).removeClass('open');
  });

  function deletePhone(phone) {
    layer.confirm('亲，确定要将 ' + phone +  ' 号码删除？', {
      btn: ['是','否'], icon: 3
    }, function(){
      var url = '/settings/delete?type=blacklist&phone=' + phone;
      $.get(url, function(){
        layer.msg('删除成功!', {icon: 1, time: 1000});
        setTimeout(function() {
          window.location.reload();
        }, 1000);
      });
    });
  }
</script>
</body>
</html>
