<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>routes - lamb</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/css/all.css">
    <link type="text/css" rel="stylesheet" href="/css/flat/blue.css">
    <link type="text/css" rel="stylesheet" href="/css/routes.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img alt="Brand" src="/img/logo.png" width="32" height="32" style="margin-top:-6px" />
          </a>
          <a class="navbar-brand">lamb</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/status/inbound">状态监控</a></li>
            <li><a href="/company">企业管理</a></li>
            <li><a href="/account">帐号管理</a></li>
            <li><a href="/template">签名模板</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">通道管理</a>
              <ul class="dropdown-menu">
                <li><a href="/gateway">落地通道</a></li>
                <li><a href="/gateway/groups">通道组管理</a></li>
                <li><a href="/routes">下发路由</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">数据记录</a>
              <ul class="dropdown-menu">
                <li><a href="/message">上行短信</a></li>
                <li><a href="/message/deliver">下行短信</a></li>
                <li><a href="/message/report">状态报告</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">系统管理</a>
              <ul class="dropdown-menu">
                <li><a href="/security/blacklist">黑名单库</a></li>
                <li><a href="/security/whitelist">白名单库</a></li>
                <li><a href="/security/keyword">关键词库</a></li>
                <li><a href="/payment/logs">充值记录</a></li>
                <li><a href="/payment">支付管理</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/system/option"><span class="glyphicon glyphicon-cog"></span> 系统设置</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退 出</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="/status">Home</a></li>
          <li><a href="/routes">Routes</a></li>
          <li class="active">Create</li>
          <li class="pull-right help"><span class="glyphicon glyphicon-question-sign"></span> <a href="#">帮助信息</a></li>
        </ol>
      </div>
      <div class="row">
        <div class="container main">
          <form class="form-horizontal" action="create" method="post">
            <div class="form-group">
              <label class="col-sm-offset-2 col-xs-2 col-sm-2 control-label"> 接入号码:</label>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <input type="text" class="form-control" name="spcode" placeholder="Enter Code" required="required">
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <span class="help-block">上行接入号码，例如 106508008</span>
              </div>
            </div>
            <div id="route" class="form-group">
              <label class="col-sm-offset-2 col-xs-2 col-sm-2 control-label">绑定帐号:</label>
              <div class="col-xs-3 col-sm-3">
                <select class="form-control" name="account">
                  <?php
                    foreach ($accounts as $a) {
                      echo '<option value="',$a['username'],'">',$a['username'],' (',$companys[$a['company']]['name'],')</option>';
                    }
                  ?>
                </select>
              </div>
              <div class="col-xs-3 col-sm-3">
                <span class="help-block">绑定下发短信接收帐号</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-offset-2 col-xs-2 col-sm-2 control-label">备注信息:</label>
              <div class="col-xs-3 col-sm-3">
                <input type="text" class="form-control" name="description" placeholder="Enter Description" />
              </div>
              <div class="col-xs-3 col-sm-3">
                <span class="help-block">相关备注信息说明</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-xs-3 col-sm-3">
                <button type="submit" id="submit" class="btn btn-success">创 建</button>
                <a class="btn btn-default" href="/routes">取 消</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/icheck.min.js"></script>
<script type="text/javascript">
  $('li.dropdown').mouseover(function() {   
  $(this).addClass('open');
  }).mouseout(function() {
  $(this).removeClass('open');
  });

  $(document).ready(function(){
  $('.call').iCheck({
  checkboxClass: 'icheckbox_flat-blue',
  radioClass: 'iradio_flat-blue',
  increaseArea: '20%'
  });
  });
</script>
</body>
</html>
