<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>Gateway Group - lamb</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/css/routing.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img alt="Brand" src="/img/logo.png" width="32" height="32" style="margin-top:-6px" />
          </a>
          <a class="navbar-brand">lamb</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/status/inbound">状态监控</a></li>
            <li><a href="/company">企业管理</a></li>
            <li><a href="/account">帐号管理</a></li>
            <li><a href="/template">签名模板</a></li>
            <li><a href="/routing">路由管理</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">通道管理</a>
              <ul class="dropdown-menu">
                <li><a href="/gateway">落地通道</a></li>
                <li><a href="/routes">下发路由</a></li>
                <li><a href="/gateway/report">通道报表</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">数据记录</a>
              <ul class="dropdown-menu">
                <li><a href="/message">上行短信</a></li>
                <li><a href="/message/deliver">下行短信</a></li>
                <li><a href="/message/report">状态报告</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">系统管理</a>
              <ul class="dropdown-menu">
                <li><a href="/security/lists">黑白名单库</a></li>
                <li><a href="/security/keyword">关键词库</a></li>
                <li><a href="/payment/logs">充值记录</a></li>
                <li><a href="/payment">支付管理</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/system/option"><span class="glyphicon glyphicon-cog"></span> 系统设置</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退 出</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="/cdr">Home</a></li>
          <li><a href="/routing">Group</a></li>
          <li class="active">Channel</li>
          <li class="pull-right add"><a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="show()"><span class="glyphicon glyphicon-plus"></span> 添 加</a></li>
        </ol>
      </div>
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr><th>#</th><th>通道名称</th><th>优先级</th><th>运营商类型</th><th>删 除</th><th>编 辑</th></tr>
          </thead>
          <tbody>
            <?php
              foreach ($channels as $c) {
                $operator = (intval($c['operator']) & 1) ? '移动 ' : '';
                $operator .= (intval($c['operator']) & (1 << 1)) ? '电信 ' : '';
                $operator .= (intval($c['operator']) & (1 << 2)) ? '联通 ' : '';
                echo '<tr><td><span class="glyphicon glyphicon-globe"></span></td><td>',$gateways[$c['id']],'</td><td>',$c['weight'],'</td><td>',$operator,'</td>';
                echo '<td><button class="btn btn-default btn-xs" onclick="deleteChannel(',$c['id'],',',$c['gid'],')"><span class="glyphicon glyphicon-trash"></span> 删 除</button></td>';
                echo '<td><a class="btn btn-default btn-xs" href="javascript:void(0)" onclick="edit(',$c['id'],',',$c['gid'],',',"'",$gateways[$c['id']],"'",')"><span class="glyphicon glyphicon-edit"></span> 编 辑</a></td></tr>';
              }
            ?>
          </tbody>
        </table>
      </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/layer.js"></script>
<script type="text/javascript">
  $('li.dropdown').mouseover(function() {
    $(this).addClass('open');
  }).mouseout(function() {
    $(this).removeClass('open');
  });

  function show() {
    var templete = '<form class="form-horizontal" action="/channel/create" method="post" style="width:420px">'+
        '<div class="form-group">'+
        '<label class="col-sm-3 control-label">通&nbsp;&nbsp;&nbsp;&nbsp;道 </label>'+
        '<div class="col-sm-8">'+
        '<input type="hidden" name="gid" value="<?php echo $gid;?>">'+
        '<select class="form-control" name="id" required="required">'+
        <?php
          foreach ($gateways as $key => $val) {
            echo "'<option value=" , '"' , $key , '"',  ">" , $val , "</option>'+\n";
          }
        ?>
        '</select>'+
        '</div>'+
        '</div>'+
        '<div class="form-group">'+
        '<label class="col-sm-3 control-label">优先级 </label>'+
        '<div class="col-sm-8">'+
        '<input type="number" class="form-control" name="weight" value="1" placeholder="Enter priority" min="1" required="required">'+
        '</div>'+
        '</div>'+
        '<div class="form-group">'+
        '<label class="col-sm-3 control-label">运营商 </label>'+
        '<div class="col-sm-8">'+
        '<div class="checkbox">' +
        '<label><input type="checkbox" name="cmcc">移动&nbsp;&nbsp;</label>'+
        '<label><input type="checkbox" name="ctcc">电信&nbsp;&nbsp;</label>'+
        '<label><input type="checkbox" name="cucc">联通&nbsp;&nbsp;</label>'+
        '<label><input type="checkbox" name="other">其他&nbsp;&nbsp;</label>'+
        '</div>' +
        '</div>'+
        '</div>'+
        '<div class="form-group">'+
        '<div class="col-sm-offset-3 col-sm-8">'+
        '<button type="submit" class="btn btn-success">添 加</button><a href="javascript:void(0);" onClick="layer.closeAll()" class="btn btn-default">取 消</a>'+
        '</div>'+
        '</div>'+
        '</form>';

    layer.open({
      type: 1,
      title: '添加通道',
      area: ['435px', '285px'],
      content: templete
    });
  }

  function edit(id, gid, name) {
        var url = '/api/channel?id=' + id + '&gid=' + gid;
        $.get(url, function(resp, stat) {
          if (stat == 'success') {
            var channel = resp.data;
            var templete = '<form class="form-horizontal" action="/channel/update" method="post" style="width:420px">'+
            '<div class="form-group">'+
            '<label class="col-sm-3 control-label">通&nbsp;&nbsp;&nbsp;&nbsp;道 </label>'+
            '<div class="col-sm-8">'+
            '<input type="hidden" name="id" value="' + channel.id + '">'+
            '<input type="hidden" name="gid" value="' + channel.gid + '">'+
            '<select class="form-control" disabled="disabled">'+
            '<option>' + name + '</option>'+
            '</select>'+
            '</div>'+
            '</div>'+
            '<div class="form-group">'+
            '<label class="col-sm-3 control-label">优先级 </label>'+
            '<div class="col-sm-8">'+
            '<input type="number" class="form-control" name="weight" value="' + channel.weight + '" placeholder="Enter priority" min="1" required="required">'+
            '</div>'+
            '</div>'+
            '<div class="form-group">'+
            '<label class="col-sm-3 control-label">运营商 </label>'+
            '<div class="col-sm-8">'+
            '<div class="checkbox">' +
            '<label><input type="checkbox" name="cmcc"' + ((parseInt(channel.operator) & 1) ? ' checked="checked"' : '') + '>移动&nbsp;&nbsp;</label>'+
            '<label><input type="checkbox" name="ctcc"' + ((parseInt(channel.operator) & (1 << 1))? ' checked="checked"' : '') + '>电信&nbsp;&nbsp;</label>'+
            '<label><input type="checkbox" name="cucc"' + ((parseInt(channel.operator) & (1 << 2)) ? ' checked="checked"' : '') + '>联通&nbsp;&nbsp;</label>'+
            '<label><input type="checkbox" name="other"' + ((parseInt(channel.operator) & (1 << 3)) ? ' checked="checked"' : '') + '>其他&nbsp;&nbsp;</label>'+
            '</div>' +
            '</div>'+
            '</div>'+
            '<div class="form-group">'+
            '<div class="col-sm-offset-3 col-sm-8">'+
            '<button type="submit" class="btn btn-success">保 存</button><a href="javascript:void(0);" onClick="layer.closeAll()" class="btn btn-default">取 消</a>'+
            '</div>'+
            '</div>'+
            '</form>';

            layer.open({
              type: 1,
              title: '编辑通道',
              area: ['435px', '285px'],
              content: templete
            });
         }
       });
  }

  function deleteChannel(id, gid) {
  layer.confirm('亲，确定要删除？', {
      btn: ['是','否'], icon: 3
    }, function(){
      var url = '/channel/delete?id=' + id + '&gid=' + gid;
      $.get(url, function(){
        layer.msg('删除成功!', {icon: 1, time: 1000});
        setTimeout(function() {
          window.location.reload();
        }, 1000);
      });
    });
  }
</script>
</body>
</html>
