body {
    color: #555555;
    font-size: 16px;
    background-color: #ffffff;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.breadcrumb {
    padding-left: 18px;
    padding-right: 28px;
}

.breadcrumb .pull-right:before {
    content: "";
}

.contents .table .text-left {
    text-align: left;
}

.contents .table thead th {
    color: #555555;
}

.contents .table>thead>tr>th, .contents .table>tbody>tr>td {
    text-align: center;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}

.contents table th:last-child, .contents table td:last-child {
    width: 110px;
    text-align: center;
}

.channel-groups thead tr th {
    border-top: 2px solid #ddd;
}

.channel-groups tbody tr td {
    border-top: 2px solid #eeeeee;
}

.badge-default {
    background-color: #999999;
}

.badge-success {
    background-color: #5da55d;
}

.badge-warning {
    background-color: #efa133;
}

.badge-danger {
    background-color: #ce514e;
}

form {
    margin-top: 25px;
}

#new-form .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

#edit-form .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.form-inline button {
    width: 55px;
    margin-right: 18px;
}

.form-horizontal button {
    width: 80px;
    margin-right: 18px;
}

form div:last-child div {
    margin-top: 10px;
}

.statistics {
    padding: 8px 15px;
}

.statistics .form-group .help {
    margin-left: 20px;
}

.statistics #where {
    margin-top: 0px;
}
