body {
    color: #555555;
    font-size: 16px;
    background-color: #ffffff;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.breadcrumb {
    padding-left: 18px;
    padding-right: 28px;
}

.breadcrumb .pull-right:before {
    content: "";
}

#elements {
    padding: 15px;
}

#elements span {
    margin-right: 10px;
}

#elements span a {
    margin-left: 3px;
    color: #555555;
}

#elements span a:hover {
    color: red;
}

td .label, #elements .label {
    color: #888888;
    padding: 7px;
    background-color: #f1f1f1;
}

.table thead th {
    color: #555555;
}

.table td:first-child {
    width: 50px;
}

.table>thead>tr>th, .table>tbody>tr>td {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}

.table>thead tr .text-left, .table>tbody tr .text-left {
    text-align: left;
}

th:last-child, td:last-child {
    width: 110px;
    text-align: center;
}

form {
    margin: 28px;
}

#form .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.form-group .btn {
    width: 70px;
    margin-top: 10px;
}

.form-group .btn-cancel {
    margin-left: 20px;
}
