body {
    color: #555555;
    font-size: 16px;
    background-color: #ffffff;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.breadcrumb {
    padding-left: 18px;
    padding-right: 18px;
}

.breadcrumb .pull-right:before {
    content: "";
}

.table {
    margin-top: 15px;
}

.table thead th {
    color: #555555;
}

.table>thead>tr>th, .table>tbody>tr>td {
    text-align: center;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}

tr th:first-child {
    width: 80px;
}

tr th:last-child {
    width: 250px;
}

tr td:last-child {
    color: #666666;
    text-align: left;
}

.row .checkbox {
    margin-top: 24px;
}

.row .nav-tabs .pull-right {
    padding-right: 25px;
}

