<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>message deliver - lamb</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link type="text/css" rel="stylesheet" href="/css/message.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img alt="Brand" src="/img/logo.png" width="32" height="32" style="margin-top:-6px" />
          </a>
          <a class="navbar-brand">lamb</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/status/inbound">状态监控</a></li>
            <li><a href="/company">企业管理</a></li>
            <li><a href="/account">帐号管理</a></li>
            <li><a href="/template">签名模板</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">路由管理</a>
              <ul class="dropdown-menu">
                <li><a href="/routing">上行路由</a></li>
                <li><a href="/delivery">下发路由</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">通道管理</a>
              <ul class="dropdown-menu">
                <li><a href="/gateway">落地通道</a></li>
                <li><a href="/groups">通道网关组</a></li>
                <li><a href="/gateway/report">通道数据统计</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">数据记录</a>
              <ul class="dropdown-menu">
                <li><a href="/message">上行短信</a></li>
                <li><a href="/message/deliver">下行短信</a></li>
                <li><a href="/message/report">状态报告</a></li>
                <li><a href="/message/statistic">数据统计</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">系统管理</a>
              <ul class="dropdown-menu">
                <li><a href="/security/keyword">关键词库</a></li>
                <li><a href="/payment/logs">充值记录</a></li>
                <li><a href="/payment">支付管理</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> 系统设置</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退 出</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="/message">Message</a></li>
          <li class="active">Deliver</li>
          <li class="pull-right help"><span class="glyphicon glyphicon-question-sign"></span> <a href="#">帮助信息</a></li>
        </ol>
      </div>
      <div class="row query">
        <form class="form-inline" action="/message/deliver" method="get">
          <div class="form-group">
            <label>发送时间: </label>
	        <input type="text" id="deliver-begin" class="form-control" name="begin" value="2017-08-11 08:00:00" />
            -
            <input type="text" id="deliver-end" class="form-control" name="end" value="2017-08-11 20:00:00" />
          </div>
          <div class="form-group">
            <label>服务号码: </label>
            <input type="text" id="deliver-spcode" class="form-control" placeholder="请输入服务号码" name="spcode" />
          </div>
          <div class="form-group">
            <label>手机号码: </label>
	        <input type="text" id="deliver-phone" class="form-control" placeholder="请输入手机号码" name="phone" />
          </div>
          <button type="submit" id="query" class="btn btn-success btn-sm pull-right" name="sub" value="ok">查 询</button>
        </form>
      </div>
      <div class="row"><hr /></div>
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr><th>#</th><th>服务号码</th><th>手机号码</th><th>短信内容</th><th>发送时间</th></tr>
          </thead>
          <tbody>
            <?php
              foreach ($delivers as $d) {
                echo '<tr><td><span class="glyphicon glyphicon-envelope"></span></td><td>',$d['spcode'],'</td><td>',$d['phone'],'</td><td>',lamb_output($d['content'], 24),'</td><td>',$d['create_time'],'</td></tr>';
              }
            ?>
          </tbody>
        </table>
      </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
  $('li.dropdown').mouseover(function() {   
    $(this).addClass('open');
  }).mouseout(function() {
    $(this).removeClass('open');
  });

    // datetimepicker
    $('#deliver-begin').datetimepicker({
      format: 'yyyy-mm-dd hh:ii:ss',
      language: 'zh-CN',
      autoclose: true
    });

    $('#deliver-end').datetimepicker({
      format: 'yyyy-mm-dd hh:ii:ss',
      language: 'zh-CN',
      autoclose: true
    });
</script>
</body>
</html>
