<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>template - lamb</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/css/template.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img alt="Brand" src="/img/logo.png" width="32" height="32" style="margin-top:-6px" />
          </a>
          <a class="navbar-brand">lamb</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/status/inbound">状态监控</a></li>
            <li><a href="/company">企业管理</a></li>
            <li><a href="/account">帐号管理</a></li>
            <li><a href="/template">签名模板</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">路由管理</a>
              <ul class="dropdown-menu">
                <li><a href="/routing">上行路由</a></li>
                <li><a href="/delivery">下行路由</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">通道管理</a>
              <ul class="dropdown-menu">
                <li><a href="/gateway">落地通道</a></li>
                <li><a href="/gateway/report">通道数据统计</a></li>
                <li><a href="/gateway/check">通道测试</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">数据记录</a>
              <ul class="dropdown-menu">
                <li><a href="/message">上行短信</a></li>
                <li><a href="/message/deliver">下行短信</a></li>
                <li><a href="/message/statistic">数据统计</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">系统管理</a>
              <ul class="dropdown-menu">
                <li><a href="/keyword">关键词库</a></li>
                <li><a href="/payment/logs">充值记录</a></li>
                <li><a href="/service/core">服务状态</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> 系统设置</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退 出</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="/status/inbound">Home</a></li>
          <li><a href="/template">Template</a></li>
          <li class="active"><?php echo $name;?></li>
          <li class="pull-right add"><button class="btn btn-success btn-xs" onclick="show()"><span class="glyphicon glyphicon-plus"></span> 创 建</button></li>
        </ol>
      </div>
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr><th style="width:70px">#</th><th>签 名</th><th>模板内容</th><th>编 辑</th><th>删 除</th></tr>
          </thead>
          <tbody id="datalist">
          </tbody>
        </table>
      </div>
    </div>
</div>
<script id="contents" type="text/template">
  {{#each data}}
  <tr>
    <td><span class="glyphicon glyphicon-credit-card"></span></td>
    <td>{{name}}</td>
    <td><a class="text-muted" href="javascript:void(0)" onclick="detailed(this)" content="{{content}}">{{checkoverflow content 20}}</a></td>
    <td><button type="button" class="btn btn-default btn-xs" onclick="deleteTemplate({{id}})"><span class="glyphicon glyphicon-trash"></span> 删 除</button></td>
    <td><button type="button" class="btn btn-default btn-xs" onclick="changeTemplate({{id}})"><span class="glyphicon glyphicon-edit"></span> 编 辑</button></td>
  </tr>
  {{/each}}
</script>
<script id="new-page" type="text/template">
  <form id="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">签名标题:</label>
      <div class="col-sm-6">
        <input type="hidden" class="form-control" name="acc" value="<?php echo $acc;?>">
        <input type="text" class="form-control" name="name" placeholder="Enter name" minlength="3" required="required">
      </div>
      <div class="col-xs-3 col-sm-3">
        <span class="help-block">短信签名</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 col-sm-3 control-label" style="line-height:60px">模板内容:</label>
      <div class="col-xs-6 col-sm-6">
        <textarea class="form-control" rows="4" cols="24" name="content" placeholder="Enter Template Content" required="required"></textarea>
      </div>
      <div class="col-xs-3 col-sm-3" style="line-height:60px">
        <span class="help-block">短信内容</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-6" style="margin-top:15px">
        <button type="button" onclick="formSubmit()" class="btn btn-success">创 建</button>
        <button type="button" onclick="layer.closeAll()" class="btn btn-default">取 消</button>
      </div>
    </div>
  </form>
</script>
<script id="edit-page" type="text/template">
  <form id="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">签名标题:</label>
      <div class="col-sm-6">
        <input type="hidden" class="form-control" name="acc" value="<?php echo $acc;?>" />
        <input type="text" class="form-control" name="name" value="{{name}}" placeholder="Enter name" minlength="3" required="required">
      </div>
      <div class="col-xs-3 col-sm-3">
        <span class="help-block">短信签名</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 col-sm-3 control-label" style="line-height:60px">模板内容:</label>
      <div class="col-xs-6 col-sm-6">
        <textarea class="form-control" rows="4" cols="24" name="content" placeholder="Enter Template Content" required="required">{{content}}</textarea>
      </div>
      <div class="col-xs-3 col-sm-3" style="line-height:60px">
        <span class="help-block">短信内容</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-6" style="margin-top:15px">
        <button type="button" onclick="formChange({{id}})" class="btn btn-success">保 存</button>
        <button type="button" onclick="layer.closeAll()" class="btn btn-default">取 消</button>
      </div>
    </div>
  </form>
</script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/handlebars.min.js"></script>
<script type="text/javascript" src="/js/layer.js"></script>
<script type="text/javascript" src="/js/template.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('li.dropdown').mouseover(function() {   
      $(this).addClass('open');
    }).mouseout(function() {
      $(this).removeClass('open');
  });

  acc = <?php echo $acc;?>;
  fetchTemplates(acc);
  });  
</script>
</body>
</html>
