<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>company - lamb</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/css/company.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img alt="Brand" src="/img/logo.png" width="32" height="32" style="margin-top:-6px" />
          </a>
          <a class="navbar-brand">lamb</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/status/inbound">状态监控</a></li>
            <li><a href="/company">企业管理</a></li>
            <li><a href="/account">帐号管理</a></li>
            <li><a href="/template">签名模板</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">通道管理</a>
              <ul class="dropdown-menu">
                <li><a href="/channel">落地通道</a></li>
                <li><a href="/channel/groups">通道组管理</a></li>
                <li><a href="/routes">下发路由</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">数据记录</a>
              <ul class="dropdown-menu">
                <li><a href="/message">上行短信</a></li>
                <li><a href="/message/deliver">下行短信</a></li>
                <li><a href="/message/report">状态报告</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">系统管理</a>
              <ul class="dropdown-menu">
                <li><a href="/security/blacklist">黑名单库</a></li>
                <li><a href="/security/whitelist">白名单库</a></li>
                <li><a href="/payment/logs">充值记录</a></li>
                <li><a href="/payment">支付管理</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/system/option"><span class="glyphicon glyphicon-cog"></span> 系统设置</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退 出</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="/cdr">Home</a></li>
          <li><a href="#">Company</a></li>
          <li class="active">Data</li>
          <li class="pull-right add"><a class="btn btn-success btn-xs" href="company/create"><span class="glyphicon glyphicon-plus"></span> 创 建</a></li>
        </ol>
      </div>
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr><th>#</th><th>公司名称</th><th>账户余额</th><th>付费类型</th><th>账户数量</th><th>备注信息</th><th>创建时间</th><th>账户充值</th><th>编 辑</th><th>删 除</th></tr>
          </thead>
          <tbody>
            <?php
              foreach ($data as $obj) {
                echo '<tr><td><span class="glyphicon glyphicon-copyright-mark"></span></td><td>',lamb_output($obj['name'], 12),'</td><td>',$obj['money'],'</td>';
                echo '<td>',($obj['paytype'] == 1) ? '预付费' : '后付费','</td><td>3</td><td>',lamb_output($obj['description']),'</td><td>',$obj['create_time'],'</td>';
                echo '<td><a href="javascript:void(0)" class="text-muted" onclick="recharge(',$obj['id'],')"><span class="glyphicon glyphicon-plus-sign"></span> 充 值</a></td>';
                echo '<td><button class="btn btn-default btn-xs" onclick="deleteCompany(',$obj['id'],')"><span class="glyphicon glyphicon-trash"></span> 删 除</button></td>';
                echo '<td><a class="btn btn-default btn-xs" href="company/edit?id=',$obj['id'],'"><span class="glyphicon glyphicon-edit"></span> 编 辑</a></td></tr>';
              }
            ?>
          </tbody>
        </table>
      </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/layer.js"></script>
<script type="text/javascript">
  $('li.dropdown').mouseover(function() {   
  $(this).addClass('open');
  }).mouseout(function() {
  $(this).removeClass('open');
  });

  function deleteCompany(id) {
     layer.confirm('亲，确定要删除？', {
        btn: ['是','否'], icon: 3
      }, function(){
        var url = '/company/delete?id=' + id;
        $.get(url, function(){
          layer.msg('删除成功!', {icon: 1, time: 1000});
            setTimeout(function() {
              window.location.reload();
            }, 1000);
          });
        });
  }

  function recharge(id) {
    layer.prompt({title: '请输入充值金额', formType: 0}, function(money, index){
      var url = '/company/recharge';
      $.post(url, {"id": id, "money": money}, function(response, status) {
        layer.close(index);
        if (status == 'success' && response.status == 200) {
          layer.msg('充值成功!', {icon: 1, time: 1000});
           setTimeout(function() {
             window.location.reload();
           }, 1000);
        } else {
          layer.msg('充值失败: ' + response.message, {icon: 2, time: 5000});
        }
      });
    });
  }
</script>
</body>
</html>
