<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>delivery - lamb</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/css/delivery.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img alt="Brand" src="/img/logo.png" width="32" height="32" style="margin-top:-6px" />
          </a>
          <a class="navbar-brand">lamb</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/status/inbound">状态监控</a></li>
            <li><a href="/company">企业管理</a></li>
            <li><a href="/account">帐号管理</a></li>
            <li><a href="/template">签名模板</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">路由管理</a>
              <ul class="dropdown-menu">
                <li><a href="/routing">上行路由</a></li>
                <li><a href="/delivery">下发路由</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">通道管理</a>
              <ul class="dropdown-menu">
                <li><a href="/gateway">落地通道</a></li>
                <li><a href="/groups">通道网关组</a></li>
                <li><a href="/gateway/report">通道统计报表</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">数据记录</a>
              <ul class="dropdown-menu">
                <li><a href="/message">上行短信</a></li>
                <li><a href="/message/deliver">下行短信</a></li>
                <li><a href="/message/report">状态报告</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">系统管理</a>
              <ul class="dropdown-menu">
                <li><a href="/security/database">黑白名单库</a></li>
                <li><a href="/security/keyword">关键词库</a></li>
                <li><a href="/payment/logs">充值记录</a></li>
                <li><a href="/payment">支付管理</a></li>
                <li><a href="/system/status">系统状态</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> 系统设置</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退 出</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Delivery</li>
          <li class="pull-right add"><button class="btn btn-success btn-xs" onclick="show()"><span class="glyphicon glyphicon-plus"></span> 创 建</button></li>
        </ol>
      </div>
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr><th>#</th><th>路由规则</th><th>目标帐号</th><th>备注信息</th><th colspan="2">排 序</th><th>编 辑</th><th>删 除</th></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
</div>
<script id="contents" type="text/template">
  {{#each data}}
  <tr>
    <td>{{id}}</td>
    <td>{{rexp}}</td>
    <td>{{target}}</td>
    <td>{{description}}</td>
    <td><a class="text-muted" href="#"><span class="glyphicon glyphicon-arrow-up"></span></a></td>
    <td><a class="text-muted" href="#"><span class="glyphicon glyphicon-arrow-down"></span></a></td>
    <td><button class="btn btn-default btn-xs" onclick="deleteDelivery({{id}})"><span class="glyphicon glyphicon-trash"></span> 删 除</button></td>
    <td><button class="btn btn-default btn-xs" onclick="changeDelivery({{id}})"><span class="glyphicon glyphicon-edit"></span> 编 辑</button></td>
  </tr>
  {{/each}}
</script>
<script id="new-page" type="text/template">
  <form id="form" class="form-horizontal" style="width:420px">
    <div class="form-group">
      <label class="col-sm-3 control-label">路由规则</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="rexp" placeholder="Enter name" minlength="1" required="required" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">目标帐号</label>
      <div class="col-sm-8">
        <select id="accounts" class="form-control" name="target">
          {{#each data}}
          <option value="{{id}}">{{username}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">备注信息</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="description" placeholder="Enter description">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <button type="button" class="btn btn-success" onclick="formSubmit()">创 建</button>
        <button type="button" class="btn btn-default" onClick="layer.closeAll()">取 消</button>
      </div>
    </div>
  </form>
</script>
<script id="edit-page" type="text/template">
  <form id="form" class="form-horizontal" style="width:420px">
    <div class="form-group">
      <label class="col-sm-3 control-label">路由规则</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="rexp" value="{{delivery.rexp}}" placeholder="Enter name" minlength="3" required="required">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">目标帐号</label>
      <div class="col-sm-8">
        <select id="accounts" class="form-control" name="target" >
          {{#each accounts}}
          <option value="{{id}}"{{checkselectd id}}>{{username}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">备注信息</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="description" value="{{delivery.description}}" placeholder="Enter description">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <button type="button" class="btn btn-success" onclick="formChange({{delivery.id}})">保 存</button>
        <button type="button" class="btn btn-default" onclick="layer.closeAll()">取 消</button>
      </div>
    </div>
  </form>
</script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/handlebars.min.js"></script>
<script type="text/javascript" src="/js/layer.js"></script>
<script type="text/javascript" src="/js/delivery.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('li.dropdown').mouseover(function() {   
      $(this).addClass('open');
    }).mouseout(function() {
      $(this).removeClass('open');
    });
    startup();
  });
</script>
</body>
</html>
